---
import config_json from "../../review_templates/template_{{ lang }}.json";
import PageLayout from "../../layouts/PageLayout.astro";
import OptionForm from "../../components/OptionForm.astro";
import FlagSelect from "../../components/FlagSelect.astro";
---

<PageLayout title="{{ static.page_title }}">
  <header class="bg-slate-700 text-white py-2 flex flex-col items-center">
    <h1>{"---{ {{ static.title }} }---"}</h1>
    <FlagSelect />
    <p class="mt-0">☑ {{ static.awesome }}</p>
  </header>

  <div class="max-w-screen-sm mx-auto px-4">
    <p>{{ static.intro }}</p>
    <p>
      {{ static.open_source }} &rarr; <a
        href="https://github.com/VojtaStruhar/steam-review-template"
      >
        {{ static.visit_it }}</a
      >!
    </p>
    <p>{{ static.note }}</p>
    {
      config_json.categories.map((category) => (
        <OptionForm category={category} />
      ))
    }
    <div class="flex justify-center">
      <button
        id="output-button"
        class="py-4 px-8 text-lg font-bold rounded-lg border-none shadow bg-amber-400 hover:cursor-pointer hover:shadow-lg transition-all"
      >
        {{ static.generate }}</button
      >
    </div>

    <div class="flex justify-center mt-4">
      <button
        id="copy-output"
        class="py-2 px-4 text-lg rounded-lg border-none shadow bg-sky-100 hover:cursor-pointer hover:shadow-lg transition-all"
      >
        {{ static.copy }}</button
      >
    </div>
  </div>
</PageLayout>

<style>
  input[type="radio"],
  input[type="checkbox"] {
    transform: scale(1.25);
  }

  fieldset,
  legend {
    border: 1px solid #ccc;
  }
</style>
