---
const { category } = Astro.props;
---

<form class="flex flex-col gap-2">
  <fieldset class="rounded-lg my-4 shadow-md border bg-sky-100">
    <legend
      class="font-mono font-bold text-xl bg-emerald-300 px-4 rounded-lg shadow"
    >
      {category.title}
    </legend>
    {
      category.options.map((item) => (
        <>
          {category.type == "radio" ? (
            <input type="radio" id={item} name={category.title} value={item} />
          ) : (
            <input
              type="checkbox"
              id={item}
              name={category.title}
              value={item}
            />
          )}
          <label class="mx-2" for={item}>
            {item}
          </label>
          <br />
        </>
      ))
    }
  </fieldset>
</form>
